.per-brd {
  font-weight: bolder;
  cursor: pointer;
}
.per-padd {
  padding-top: 40px;
}
.per-head-txt {
  font-size: 18px;
  font-weight: bold;
}
.per-hd-txt {
  padding-inline-start: 5px;
  font-size: 18px;
}
.per-cont-row-pdd {
  padding-bottom: 20px;
}
.per-cont-pdd {
  padding-inline: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.per-cont-head {
  padding-inline-start: 10px;
  font-weight: bold;
}
.card1-padd {
  margin-left: 15px;
  margin-right: 7.5px;
  padding: 10px;
}
.card2-padd {
  margin-left: 7.5px;
  margin-right: 15px;
  padding: 10px;
}
.table-pdd {
  padding-top: 20px;
}
.table-row-pdd {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
.table-hd-txt {
  font-weight: 550;
}
.tbl-txt-name {
  padding-inline-start: 5px;
}
.txt-cntr {
  text-align: center;
}
.uploaded-tbl {
  padding-top: 20px;
  font-size: 12px;
}
.uploaded-tbl-header {
  color: gray;
}
.lbl-wd-hgt {
  width: 3px;
  height: 35px;
}
.label-1 {
  background-color: #6264a7;
}
.label-2 {
  background-color: #c4314b;
}
.label-3 {
  background-color: #d9dbdb;
}
.chart-pdd {
  padding: 10px;
}
.chart-lbl-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
.lbl-txt-1 {
  font-size: 18px;
  font-weight: 550;
}
.lbl-txt-2 {
  font-size: 10px;
}
.accord {
  cursor: pointer;
}
.accord-elemnt:hover {
  background-color: white;
}

.padd-inline {
  padding-inline: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mob-padd {
  margin-top: 20px;
}
