.em.tran-btn,
.ax.tran-btn,
.ez.tran-btn {
  color: rgb(98, 100, 167);
  padding-left: none;
}
.bh.tran-btn {
  padding-left: none;
}
.av.tran-btn {
  min-width: none;
}
.assgn-view-card {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
  margin-bottom: 40px;
  margin-top: 40px;
}
.hndin-btn {
  float: right;
}
.row1 {
  padding-top: 40px;
}
.row2 {
  padding-top: 20px;
  color: #6264a7;
}
.row3 {
  padding-top: 20px;
}
.assgn-view-name {
  font-size: 22px;
  font-weight: 550;
  color: black;
}
.row-pdd {
  padding-bottom: 20px;
}
.assgn-duedatetime {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
}
.assgn-item-header {
  font-size: 12px;
  font-weight: 600;
  color: gray;
}
.assgn-item {
  font-size: 14px;
  font-weight: lighter;
  color: gray;
}
.color-text {
  color: black;
}

.back-button {
  color: #6264a7;
  cursor: pointer;
}
.row-assgn-padd {
  padding-inline-start: 8px;
}
.rubric-dialog {
  margin-bottom: 10px;
  height: 75%;
  width: 100%;
  overflow: scroll;
}

.rubric-item-bg {
  background-color: #eeeff4;
  margin: 2px;
  border-radius: 5px;
}
.rub-head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 5px;
}
.rub-cont {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 5px;
}
.col-padd-mob {
  padding-top: 20px;
}
.brd-pdd {
  padding-top: 10px;
  padding-bottom: 10px;
}
.rubric-item-mob {
  width: 100%;
}
