.act-div {
  padding-top: 20px;
  padding-bottom: 30px;
}
.act-font {
  font-weight: bold;
}
.colr {
  color: black;
}
.act-spc {
  margin-bottom: 30px;
  padding-inline: 40px;
}
.recent-act {
  font-weight: 550;
  color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
}
.timestmp-flt-rgt {
  float: right;
}
.act-list {
  margin-inline: 25px;
  padding-inline: 25px;
}
